<footer>
        <div class="footer-container">
            <ul class="footer-list">
                <li class="footer-category"><strong>CONTACT</strong>
                    <ul>
                        <li class="footer-link">support@discordhouse.org</li>
                        <li class="footer-link"><a href="https://discordhouse.org/contact">https://discordhouse.org/contact</a></li>
                    </ul>
                </li>
                <li class="footer-category"><strong>LEGALS</strong>
                    <ul>
                        <li class="footer-link"><a href="/terms">Terms of Service</a></li>
                        <li class="footer-link"><a href="/privacy">Privacy Policy</a></li>
                        <li class="footer-link"><a href="/license">Website License</a></li>
                    </ul>
                </li>
                <li class="footer-category"><strong>USEFULL LINKS</strong>
                    <ul>
                        <li class="footer-link"><a href="#">How to make a discord bot?</a></li>
                        <li class="footer-link"><a href="/discordW">Discord Bot House's Discord Server</a></li>
                    </ul>
                </li>
            </ul>
            <hr class="footer-line">
            <p class="footer-copyright">Copyright 2019 - MrAugu All Right Reserved</p>
        </div>
    </footer>
    <script src="assets/main.js"></script>
</body>
</html>