<%- include("blocks/header.ejs", { title: "404", form: true }) %>

<br><br><br><br>
<h1 class="category-title" style="font-size: 50px; margin-bottom: 5px;">404</h1>
<p class="category-title">Page has not been found!</p>
